{% extends "habito_app/base.html" %}
{% load staticfiles %}

{% block title_block %}
   Home
{% endblock %}

{% block css_block %}
   <link rel="stylesheet" href="{% static 'css/index.css' %}"></link>
{% endblock %}

{% block body_block %}
   <div class="container">
      <div class="row justify-content-center">
      <div class="col-12">
         <h1 class="title">Habit-O</h1>
      </div>
      <h4 class="subtitle mb-4">Get used to it!</h4>
      </div>
      <div class="row justify-content-center">
         <div class="col-8 col-sm-6 col-md-4 text-center">
            <a href="{% url 'user_login' %}" class="btn btn-primary btn-block">Sign in</a>
            <span class="btnSeparator">or</span>
            <a href="{% url 'register' %}" class="btn btn-primary btn-block">Register</a>
         </div>
      </div><!-- End login-container -->
   </div><!-- End container -->
{% endblock %}