/* MEDIA QUERY */
/* sm */
@media (max-width: 767px) {
  html {
    font-size: 16px;
  }
  .title{
      font-size: 3.2em;
   }
   .subtitle{
      font-size: 1.7em;
   }
   .btnSeparator{
      font-size: 1.2em;
   }
}
/* md */
@media (min-width: 768px) and (max-width: 991px) {
   html {
      font-size: 16px;
   }
   .title{
      font-size: 3.5em;
   }
   .subtitle{
      font-size: 2em;
   }
}
/* lg, xl */
@media (min-width: 992px) {
  html {
    font-size: 18px;
  }
  .title{
      font-size: 3.5em;
   }
   .subtitle{
      font-size: 2em;
   }
}

/* LOGIN FORM */
.title, .subtitle{
   font-family: 'Kaushan Script', cursive;
   text-align: center;
}

body{
   background-color: #4DDBFF;
   padding:10px;
}
.btnSeparator{
   font-family: 'Kaushan Script', cursive;
   display: block;
   padding: 10px;
}
.btn-primary{
   color: black;
   border-color: #4DDBFF;
   background-color: #FFFFFF;
   cursor: pointer;
}
.btn-primary:hover{
   border-color: #FFFFFF;
   background-color: #4DDBFF;
   font-weight: bold;
}